.container {
    background: black;
    display: inline-block;
    border: 1px solid black;
  }
  
  #grid {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 20px);
    grid-gap: 1px;
  }
  
  .cell {
    background: white;
  }